*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --color-blue:#254971;
    --color-beige:#f1ead1;
    --color-red:#c52424;
    --color-purple-dark:#1e0741;
    --color-aqua-dark: #22686d;
    --color-white: #FFFF;
    --color-black: black;
    --color-gray:#d1d1d1;
}

:root {
    font-size: 16px;
}

html, body {
    height: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.clear {
    clear: both;
}

.bg-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.bg-black--active {
    visibility: visible;
    opacity: 1;
}

.title {
    font-size: 1.75rem;
    padding-bottom: 30px;
    color: var(--color-blue);
    text-align: center;
}

.content {
    font-size: 1.25rem;
    text-align: justify;
    line-height: 36px;
    color: var(--color-black);
}

/* Cabeçário do Website */

header {
    width: 100%;
    padding: 20px 2%;
    background-color: var(--color-blue);
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 65px;
    height: 60px;
}

.menu-mobile {
    display: none;
}

.menu-desktop__items {
    padding: 10px 15px;
    margin: 10px 5px;
    float: left;
    border-radius: 15px;
    transition: all ease 0.5s;
}

.menu-desktop__items:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-desktop__links {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

.menu-desktop__links:hover {
    color: var(--color-black);
}

/* Home do Website: */

.banner, .banner-eletiva {
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
}

.banner-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Games.jpg);
    -o-background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Games.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-eletiva {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Eletiva2019.jpeg);
    -o-background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/Eletiva2019.jpeg);    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner__content {
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    color: white;
}

.banner__title {
    font-size: 2.5rem;
    padding: 16px 2%;
}

.banner__icon {
    font-size: 4rem;
}

main {
    width: 100%;
    background-color: var(--color-beige);
    padding: 48px 0 0 0;
}

.about {
    padding: 24px 6%;
}

.about__link {
    color: var(--color-red);
    text-decoration: underline;
    font-weight: 600;
}

.about__list-skills {
    list-style-type: initial;
    list-style-position: inside;
    padding: 24px 2%;
}

.about__list-skills__skills {
    font-size: 1.15rem;
    text-align: justify;
    color: var(--color-black);
    margin: 8px 0;
}

.organization {
    padding: 24px 6%;
    text-align: center;
}

.organization__font-bold {
    font-size: 1.45rem;
    font-weight: bold;
    padding: 10px 0;
}

.organization__font-normal {
    font-size: 1.45rem;
    font-weight: normal;
    padding: 10px 0;
}

.organization__figure {
    text-align: center;
    padding: 16px 0;
}

.organization__img {
    width: 200px;
    height: 200px;
    background-color: #F1EAD1;
    text-align: center;
    display: inline-block;
}

.organization__figure__description {
    font-size: 1.45rem;
    color: #254971;
    font-weight: bold;
    margin-top: 16px;
}

.championship, .eletiva {
    width: 100%;
    background-color: var(--color-purple-dark);
    padding: 48px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.eletiva {
    background-color: var(--color-aqua-dark);
}

.championship__img {
    width: 100%;
    max-width: 450px;
    height: 250px;
}

.eletiva__img {
    width: 100%;
    max-width: 300px;
    height: 280px;
}

.championship__title, .eletiva__title {
    font-size: 1.7rem;
    padding: 8px 0;
    color: white;
}

.championship__description, .eletiva__description {
    width: 100%;
    max-width: 400px;
    font-size: 1.45rem;
    padding: 8px 0;
    color: white;
}

.championship__link, .eletiva__link {
    width: 100%;
    max-width: 160px;
    display: inline-block;
    padding: 8px 12px;
    margin-top: 16px;
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.45rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.championship__link:hover, .eletiva__link:hover {
    background-color: rgb(210, 210, 210);
}

.slider-teachers {
    width: 100%;
    padding: 20px 2%;
    overflow: hidden;
    position: relative;
}

.slider-teachers--bg-purple {
    background-color:var(--color-purple-dark);
}

.slider-teachers--bg-aqua {
    background-color: var(--color-aqua-dark);
}

.arrow-left, .arrow-right {
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

.arrow-right {
    right: 30px;
}

.slider-teachers__slider-wrapper {
    display: flex;
    transition: ease 0.4s;
}

.slider-teachers__slide {
    width: 100vw;
    padding: 10px 4%;
    display: flex;
}

.slider-teachers__slide .profLuiz {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
}

.slider-teachers__teacher {
    width: 300px;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.teacher--border-purple {
    border: 10px solid #390d7aef;
}

.teacher--border-aqua {
    border: 10px solid #154447;
}

.slider-teachers__content {
    width: 600px;
    color: white;
    text-align: justify;
    padding: 60px 60px 0 80px ; 
}

.slider-teachers__content__name {
    padding-bottom: 20px;
    text-align: center;
}

.footer {
    width: 100%;
    padding: 24px 0;
    background-color: var(--color-blue);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.footer__links {
    margin: 8px 0;
    color: var(--color-white);
    font-size: 18px;
}

.footer__title {
    font-size: 20px;
    color: var(--color-white);
    text-align: center;
}

.footer__links > a {
    color: var(--color-white);
    font-size: 18px;
    transition: all ease 0.3s;
}

.footer__links > a:hover {
    color: var(--color-black);
}

.footer__links > i {
    color: var(--color-white);
    font-size: 24px;
    margin-right: 8px;
}

.main-champ {
    width: 100%;
    padding: 48px 2%;
    background-color: var(--color-gray);
}

.main-champ > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-champ__img {
    width: 100%;
    max-width: 260px;
    height: 260px;
    margin: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.main-champ__img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.focus-img {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.focus-img__btn-close {
    position: absolute;
    top: 20px;
    right: 2%;
    font-size: 42px;
    color: white;
    cursor: pointer;
}

.focus-img__box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.3s;
}

.focus-img__box > img {
    width: 100%;
    max-width: 800px;
    padding: 0 2%;
}

.focus-img--active {
    visibility: visible;
    opacity: 1;
}

.focus-img--active .focus-img__box {
    transform: scale(1);
}

.box-video {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 2%;
}

.reverse {
    flex-direction: row-reverse;
}

.box-video__video {
    width: 100%;
    max-width: 400px;
    height: 250px;
}

.box-video__description {
    width: 100%;
    max-width: 500px;
    font-size: 1.25rem;
    text-align: left;
}

.trailer-eletiva {
    width: 100%;
    padding: 24px 4%;
    text-align: center;
}

.trailer-eletiva__video {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/*-- Responsivo --*/

@media screen and (max-width: 1440px) {
    .slider-teachers__slide {
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .slider-teachers__teacher {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }
        
    .slider-teachers__content {
        width: 500px;
        color: white;
        text-align: justify;
        padding: 60px 60px 0 80px ; 
    }
}

@media screen and (max-width: 1100px) {
    .box-video, .reverse {
        flex-direction: column;
    }

    .box-video__description {
        margin-top: 32px;
        padding: 0 2%;
    }

    .box-video > .title {
        margin-top: 24px;
    }

    .box-video__last-content > h3 {
        margin-top: 24px;
    }

    .box-video__last-content > .box-video__description {
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 15px;
    }

    header > .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .banner {
        height: 600px;
    }

    .championship__img {
        max-width: 350px;
        height: 200px;
    }

    .eletiva__img {
        width: 100%;
        max-width: 250px;
        height: 220px;
    }

    .slider-teachers__teacher {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }
        
    .slider-teachers__content {
        width: 400px;
        color: white;
        text-align: justify;
        padding: 60px 60px 0 60px ;
    }

    .main-champ__img {
        max-width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile__btn-open, .menu-mobile__btn-close {
        width: 42px;
        height: 42px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
    }

    .menu-mobile__btn-close {
        margin-left: 4%;
    }

    .menu-mobile__btn-open > i, .menu-mobile__btn-close > i {
        color: white;
        font-size: 2.25rem;
    }

    .menu-mobile__nav {
        width: 50%;
        height: 100vh;
        background-color: var(--color-aqua-dark);
        color: white;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        box-shadow: 3px 3px 15px 5px black;
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
        transition: transform ease 0.5s;
    }

    .menu-mobile__box-btn {
        width: 100%;
        padding: 24px 0;
        background-color: var(--color-purple-dark);
    }

    .menu-mobile__items {
        padding: 16px 6%;
        text-align: left;
        border-bottom: 1px solid var(--color-white);
    }

    .menu-mobile__items:nth-of-type(1) {
        padding-top: 48px;
    }

    .menu-mobile__items:last-child {
        border-bottom: 0;
    }

    .menu-mobile__links {
        color: var(--color-white);
        text-decoration: none;
        font-size: 20px;
    }

    .menu-mobile__nav--active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .banner {
        height: 500px;
    }

    .organization__img {
        width: 150px;
        height: 150px;
    }

    .championship, .eletiva {
        flex-direction: column;
        justify-content: center;
    }

    .championship__img {
        max-width: 200px;
        height: 100px;
        margin-top: 16px;
    }

    .eletiva__img {
        max-width: 160px;
        height: 140px;
        margin-top: 16px;
    }

    .slider-teachers__slide {
        width: 100vw;
        display: inline-block;
        text-align: center;
    }

    .arrow-right{
        right: 10px;
    }

    .slider-teachers__teacher {
        width: 200px;
        height: 200px;
        margin-top: 40px;
        margin-right: 8%;
        display: inline-block;
    }

    .slider-teachers__teacher--space {
        margin-bottom: 80px;
        margin-right: 0;
    }
        
    .slider-teachers__content {
        width: 360px;
        display: inline-block;
        padding: 60px 60px 0 60px;
        margin-right: 8%;
    }

    .footer {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .footer__credits {
        margin-top: 32px;
        padding: 0 2%;
    }
}

@media screen and (max-width: 590px) {
    .slider-teachers__teacher--space {
        margin-bottom: 0;
        margin-right: 8%;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 12px;
    }

    .menu-mobile__nav {
        width: 100%;
    }

    .menu-mobile__items {
        text-align: center;
    }

    .championship__link, .eletiva__link {
        max-width: 120px;
    }
}

@media screen and (max-width: 420px) {
    
    .slider-teachers__teacher {
        width: 150px;
        height: 150px;
        margin-top: 60px;
        margin-right: 10%;
        display: inline-block;
    }
        
    .slider-teachers__content {
        width: 250px;
        display: inline-block;
        padding: 20px 0;
        margin-right: 5%;
    }

}
